<div class="container">
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-lg-6">
            <div class="card shadow-lg border-light">
                <div class="card-header bg-success text-white">
                    <h3 class="text-center">Add Product</h3>
                </div>
                <div class="card-body">
                    <div class="alert alert-success mb-4" *ngIf="successMsg">
                        {{ successMsg }}
                    </div>
                    <div class="alert alert-danger mb-4" *ngIf="errorMsg">
                        {{ errorMsg }}
                    </div>

                    <div class="mb-4">
                        <label class="form-label">Enter Product Name:</label>
                        <input type="text" class="form-control shadow-sm" [(ngModel)]="name">
                    </div>
                    <div class="mb-4">
                        <label class="form-label">Enter Price:</label>
                        <input type="number" class="form-control shadow-sm" [(ngModel)]="price">
                    </div>
                    <div class="mb-4">
                        <label class="form-label">Select Category:</label>
                        <select class="form-control shadow-sm" [(ngModel)]="category">
                            <option value="">-- Select Category --</option>
                            <option value="Electronics">Electronics</option>
                            <option value="Kitchen Appliances">Kitchen Appliances</option>
                            <option value="Accessories">Accessories</option>
                            <option value="Clothing">Clothing</option>
                        </select>
                    </div>
                </div>
                <div class="card-footer text-center">
                    <button class="btn btn-success px-4 py-2 rounded-pill" (click)="onSubmit()">Add Product</button>
                </div>
            </div>
        </div>
    </div>
</div>
